.stationHeaders {
  text-align: center;
}

.cellpad {
  margin: 0 3px;
}

.headerColor {
  background-color: #154734;
  color: white;
}

.stationColor {
  background-color: #c5c5c5;
  margin: 0 3px;
}

.nameColor {
  background-color: #c5c5c5;
}

.sectionHead {
  margin-top: 3px;
}

.attempt {
  text-align: center;
}

.no_attempts {
  background-color: #c17e6a;
}

.attempted {
  background-color: #cea47d;
}

.completed {
  background-color: #96c16a;
}
