<div>
  <form #eventForm="ngForm" (ngSubmit)="saveEvent(eventForm)">

    <div style="display: flex; align-items: start; justify-content: space-between">
      <div>
        <div *ngIf="!editing" style="display: flex; flex-direction: column; gap: 20px; margin-top: 10px; margin-bottom: 10px; font-size: 1.2rem">
          <span>Title: <b>{{event?.title}}</b></span>
          <span>Type: <b>{{event?.type}}</b></span>
          <span *ngIf="event?.type === EVENT_TYPE_PEP_EVENT">Pep Band: <b>{{event?.pepBand?.displayName}}</b></span>
          <span>Date: <b>{{event?.date | date: 'EEEE, MMMM d h:mm a' }}</b></span>
        </div>
        <div *ngIf="editing" style="display: flex; flex-direction: column">
          <mat-form-field style="max-width: 400px">
            <mat-label class="form-label">Title</mat-label>
            <input matInput id="eventTitle" type="text" name="eventTitle" [(ngModel)]="eventTitle">
          </mat-form-field>
          <mat-form-field style="max-width: 400px">
            <mat-label class="form-label">Type</mat-label>
            <mat-select id="eventType" name="eventType" [(ngModel)]="eventType">
              <mat-option [value]="null">--</mat-option>
              <mat-option *ngFor="let option of eventTypeOptions" [value]="option">{{option}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="eventType === EVENT_TYPE_PEP_EVENT" style="max-width: 400px">
            <mat-label class="form-label">Pep Band</mat-label>
            <mat-select id="eventPepBand" name="eventPepBand" [(ngModel)]="eventPepBand">
              <mat-option [value]="null">--</mat-option>
              <mat-option *ngFor="let option of pepBandOptions" [value]="option">{{option.displayName}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field style="max-width: 400px">
            <mat-label class="form-label">Event Date</mat-label>
            <input matInput [matDatepicker]="eventPicker" name="eventDate" [(ngModel)]="eventDate">
            <mat-datepicker-toggle matIconSuffix [for]="eventPicker"></mat-datepicker-toggle>
            <mat-datepicker #eventPicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field style="max-width: 400px">
            <mat-label>Event time</mat-label>
            <input matInput type="time" name="eventTime"
                   [(ngModel)]="eventTime">
          </mat-form-field>
        </div>
<!--        TODO: add backend support for volunteer roster member counts-->
<!--        <div *ngIf="event?.type === EVENT_TYPE_PEP_EVENT && event?.pepBand?.bandId === 'V'">-->
<!--          <mat-divider></mat-divider>-->
<!--          <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">-->
<!--            <h3>Required number of members:</h3>-->
<!--&lt;!&ndash;            TODO: Not sure if this will be useful, so commenting out for now&ndash;&gt;-->
<!--&lt;!&ndash;            <div style="display: flex; flex-direction: row; align-items: center;">&ndash;&gt;-->
<!--&lt;!&ndash;              <span>Allow extra attendees?</span>&ndash;&gt;-->
<!--&lt;!&ndash;              <mat-checkbox [disabled]="!editing" name="extraAttendeesAllowed" [(ngModel)]="extraAttendeesAllowed"></mat-checkbox>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--          </div>-->
<!--          <div style="display: flex; flex-direction: column; gap: 20px; margin-left: 20px">-->
<!--            <div *ngFor="let count of volunteerRosterMemberCounts">-->
<!--              <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; max-width: 300px">-->
<!--                <span>{{count.section.name}}:</span>-->
<!--                <span *ngIf="!editing && count.numMembersNeeded" style="width: 100px; align-content: start">{{count.numMembersNeeded}}</span>-->
<!--                <input *ngIf="editing" matInput type="number" [(ngModel)]="count.numMembersNeeded" [ngModelOptions]="{standalone: true}">-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
        <button *ngIf="editing"
                style="margin-top: 10px;"
                mat-flat-button
                color="warn"
                type="button"
                (click)="openConfirmationDialog()">Delete Event</button>&nbsp;
      </div>

      <div>
        <button *ngIf="!editing && sessionCacheService.isOfficer() || sessionCacheService.isAdmin()"
                mat-flat-button type="button" color="primary"  (click)="edit()" style="width: max-content">Edit Event</button>
        <div *ngIf="editing" style="display: flex; flex-direction: column; align-items: end; gap: 10px;">
          <button mat-flat-button type="submit" color="primary">Save</button>
          <button mat-stroked-button type="button" (click)="cancel()">Cancel</button>
        </div>
      </div>
    </div>

    <button *ngIf="!editing"
            type="button"
            (click)="goBack()"
            mat-flat-button
            style="background-color: lightgray;">Back</button>
  </form>
</div>


<ng-template #confirmDeleteDialog>
  <h2 mat-dialog-title>Delete Event?</h2>
  <mat-dialog-actions align="end">
    <button mat-button (click)="cancelDialog()">Cancel</button>
    <button mat-button (click)="deleteEvent()">Delete</button>
  </mat-dialog-actions>
</ng-template>

<ng-template #successDialog>
  <h2 mat-dialog-title>Event successfully deleted!</h2>
  <mat-dialog-actions align="end">
    <button mat-button (click)="goBack()">Ok</button>
  </mat-dialog-actions>
</ng-template>
