<div class="loading-container" *ngIf="!memberLoaded">
  <mat-progress-spinner
    mode="indeterminate"
    diameter="48">
  </mat-progress-spinner>
</div>

<div *ngIf="member && (sessionCacheService.isOfficer() || sessionCacheService.isAdmin() || sessionCacheService.isSectionLeader())">
  <form #memberForm="ngForm" (ngSubmit)="save(memberForm)">

    <ng-container *ngIf="this.isMobile(); else desktopView">
      <div class="mobile-top-row">
        <div [routerLink]="['/user', this.member?.user?.userId]" style="display: flex; flex-direction: column; align-items: start;" class="title-text">
          <span style="color: inherit; text-decoration: none;">
            {{member?.user?.firstName}} {{member?.user?.lastName}}</span>
          <span style="color: dimgray">{{member?.user?.email}}</span>
        </div>
        <button *ngIf="!editing && (sessionCacheService.isOfficer() || sessionCacheService.isAdmin() || sessionCacheService.isSectionLeader())"
                mat-flat-button type="button" color="primary"  (click)="edit()">Edit</button>
        <div *ngIf="editing" style="display: flex; flex-direction: column; align-items: end; gap: 5px;">
          <button mat-stroked-button type="button" (click)="cancel()">Cancel</button>
          <button mat-flat-button type="submit" color="primary">Save</button>
        </div>
      </div>
    </ng-container>

    <ng-template #desktopView>
      <div class="top-row">
        <div class="title">
          <a [routerLink]="['/user', this.member?.user?.userId]" style="color: inherit; text-decoration: none;">
            {{member?.user?.firstName}} {{member?.user?.lastName}}&nbsp;
            <span style="color: dimgray">- {{member?.user?.email}}</span></a>
        </div>
        <button *ngIf="!editing && (sessionCacheService.isOfficer() || sessionCacheService.isAdmin() || sessionCacheService.isSectionLeader())"
                mat-flat-button type="button" color="primary"  (click)="edit()">Edit</button>
        <div *ngIf="editing">
          <button mat-stroked-button type="button" (click)="cancel()">Cancel</button>&nbsp;
          <button mat-flat-button type="submit" color="primary">Save</button>
        </div>
      </div>
    </ng-template>

    <div *ngIf="!editing" style="display: flex; flex-direction: column; gap: 10px; margin-top: 10px; margin-bottom: 10px; font-size: 1.2rem">
      <span>Term: <b>{{member?.term?.termName}}</b></span>
      <span>Section: <b>{{member?.section?.name}}</b></span>
      <span>Pep Band: <b>{{member?.pepBand?.displayName}}</b></span>
      <span>Rehearsal Conflict:
        <span *ngIf="member?.rehearsalConflict"><b>{{member?.rehearsalConflict}}</b></span>
        <span *ngIf="!member?.rehearsalConflict"><b>None</b></span>
      </span>
    </div>

    <div *ngIf="editing">

      <div style="display: flex; flex-direction: column; gap: 10px; max-width: 300px; margin-top: 10px; margin-bottom: 10px">
        <span style="font-size: 1.2rem">Term: <b>{{member?.term?.termName}}</b></span>
        <mat-form-field subscriptSizing="dynamic">
          <mat-label class="form-label">Section</mat-label>
          <mat-select id="section" name="section" [(ngModel)]="section">
            <mat-option [value]="null">--</mat-option>
            <mat-option *ngFor="let option of sectionOptions" [value]="option">{{option.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic">
          <mat-label class="form-label">Pep Band</mat-label>
          <mat-select id="pepBand" name="pepBand" [(ngModel)]="pepBand">
            <mat-option [value]="null">--</mat-option>
            <mat-option *ngFor="let option of pepBandOptions" [value]="option">{{option.displayName}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field subscriptSizing="dynamic">
          <mat-label class="form-label">Rehearsal Conflict</mat-label>
          <mat-select id="rehearsalConflict" name="rehearsalConflict" [(ngModel)]="rehearsalConflict">
            <mat-option [value]="null">--</mat-option>
            <mat-option *ngFor="let option of rehearsalConflictOptions" [value]="option">{{option}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button *ngIf="sessionCacheService.isOfficer() || sessionCacheService.isAdmin()"
                mat-flat-button color="warn" type="button" (click)="openConfirmationDialog()">Delete Member</button>
      </div>

    </div>
  </form>
  <app-member-attendance-table *ngIf="!editing" [attendances]="this.member?.attendances"></app-member-attendance-table>

  <button *ngIf="!editing"
          type="button"
          (click)="goBack()"
          mat-flat-button
          style="background-color: lightgray; margin-top: 20px;">Back</button>
</div>

<div *ngIf="memberLoaded && !member">
  Member not found.
</div>


<ng-template #confirmDeleteDialog>
  <h2 mat-dialog-title>Delete Member?</h2>
  <mat-dialog-actions align="end">
    <button mat-button (click)="cancelDialog()">Cancel</button>
    <button mat-button (click)="deleteMember()">Delete</button>
  </mat-dialog-actions>
</ng-template>

<ng-template #successDialog>
  <h2 mat-dialog-title>Member successfully deleted!</h2>
  <mat-dialog-actions align="end">
    <button mat-button (click)="goBack()">Ok</button>
  </mat-dialog-actions>
</ng-template>
