.title {
  font-family: Roboto, sans-serif;
  font-size: 1.4rem;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  border-radius: 6px;
}

.title:hover {
  background-color: #f5f5f5;
}

.top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button:hover {
  cursor: pointer;
}

.mobile-top-row {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 20px;
}

.title-text {
  font-family: Roboto, sans-serif;
  font-size: 1.4rem;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}
