<div>
  <ng-container *ngIf="isMobile(); else desktopView">
    <div style="margin-bottom: 5px; display: flex; align-items: start; justify-content: space-between">

      <mat-form-field subscriptSizing="dynamic" style="width: 60%;">
        <mat-label class="form-label">Select a term</mat-label>
        <mat-select [(ngModel)]="selectedTerm" (selectionChange)="onTermChange($event.value)">
          <mat-option *ngFor="let option of terms" [value]="option">{{option.termName}}</mat-option>
        </mat-select>
      </mat-form-field>

      <div style="display: flex; flex-direction: column; align-items: end;">
        <button mat-flat-button color="primary" (click)="openTermDialog(false)">Create Term</button>
        <div style="display: flex; align-items: center; margin-top: 20px;">
          <span style="white-space: nowrap">{{selectedTerm?.startDate | date: 'M/d/yy'}} - {{selectedTerm?.endDate | date: 'M/d/yy'}}</span>
          <button mat-icon-button (click)="openTermDialog(true)"><mat-icon class="material-symbols-outlined">edit_square</mat-icon></button>
        </div>
      </div>

    </div>

    <div *ngIf="volunteerEvents.length" style="display: flex; gap: 10px; overflow-x: auto; padding: 0 0 20px 2px; margin-bottom: 10px;">
      <app-volunteer-event-card *ngFor="let event of volunteerEvents"
                                style="flex: 0 0 40%"
                                [event]="event"
                                [isMobile]="true"
                                (eventClicked)="goToVolunteerRoster(event.eventId)">
      </app-volunteer-event-card>
    </div>
  </ng-container>

  <ng-template #desktopView>
    <div style="margin-bottom: 20px; display: flex; align-items: center; justify-content: space-between">
      <div style="display: flex; align-items: center; gap: 10px">
        <mat-form-field subscriptSizing="dynamic">
          <mat-label class="form-label">Select a term</mat-label>
          <mat-select [(ngModel)]="selectedTerm" (selectionChange)="onTermChange($event.value)">
            <mat-option *ngFor="let option of terms" [value]="option">{{option.termName}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-flat-button color="primary" (click)="openTermDialog(false)">Create Term</button>
      </div>
      <div style="display: flex; align-items: center;">
        <p align="right">{{selectedTerm?.startDate | date: 'MMMM d, yyyy'}} - {{selectedTerm?.endDate | date: 'MMMM d, yyyy'}}</p>
        <button mat-icon-button (click)="openTermDialog(true)"><mat-icon class="material-symbols-outlined">edit_square</mat-icon></button>
      </div>
    </div>

    <div *ngIf="volunteerEvents.length" style="display: flex; gap: 10px; overflow-x: auto; padding: 0 0 20px 2px;">
      <app-volunteer-event-card *ngFor="let event of volunteerEvents"
                                [event]="event"
                                style="width: 200px; min-width: 200px;"
                                (eventClicked)="goToVolunteerRoster(event.eventId)">
      </app-volunteer-event-card>
    </div>
  </ng-template>


  <mat-accordion multi>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>Events</mat-expansion-panel-header>
      <div style="padding-top:5px">
        <app-events-table [selectedTerm]="selectedTerm"></app-events-table>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>Members</mat-expansion-panel-header>
      <div style="padding-top:5px;">
        <app-members-table [selectedTerm]="selectedTerm"></app-members-table>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>


<ng-template #termDialog>
  <h2 mat-dialog-title>{{ editingTerm ? 'Edit' : 'Create' }} Term</h2>
  <form #termForm="ngForm" (ngSubmit)="submitTerm(termForm)">
    <mat-dialog-content>
      <mat-form-field>
        <mat-label class="form-label">Name</mat-label>
        <input matInput id="termName" type="text" name="termName" [(ngModel)]="termName">
      </mat-form-field><br/>
      <mat-form-field>
        <mat-label class="form-label">Start Date</mat-label>
        <input matInput [matDatepicker]="termStartPicker" name="termStartDate" [(ngModel)]="termStartDate">
        <mat-datepicker-toggle matIconSuffix [for]="termStartPicker"></mat-datepicker-toggle>
        <mat-datepicker #termStartPicker></mat-datepicker>
      </mat-form-field><br/>
      <mat-form-field>
        <mat-label class="form-label">End Date</mat-label>
        <input matInput [matDatepicker]="termEndPicker" name="termEndDate" [(ngModel)]="termEndDate">
        <mat-datepicker-toggle matIconSuffix [for]="termEndPicker"></mat-datepicker-toggle>
        <mat-datepicker #termEndPicker></mat-datepicker>
      </mat-form-field><br/>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button type="button" (click)="cancelDialog()">Cancel</button>
      <button mat-button type="submit">{{ editingTerm ? 'Update' : 'Submit' }}</button>
    </mat-dialog-actions>
  </form>
</ng-template>
